In [1]:
pwd

'C:\\Users\\human\\Desktop\\수업자료\\데이터분석&시각화\\01판다스'

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    '지역': ['서울', '서울', '서울', '경기', '경기', '부산', '서울', '서울', '부산', '경기', '경기', '경기'],
    '요일': ['월요일', '화요일', '수요일', '월요일', '화요일', '월요일', '목요일', '금요일', '화요일', '수요일', '목요일', '금요일'],
    '강수량': [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100, 50, 100],
    '강수확률': [80, 70, 90, 10, 20, 30, 50, 90, 20, 80, 50, 10]
                  })

df

    지역   요일   강수량  강수확률
0   서울  월요일   100    80
1   서울  화요일    80    70
2   서울  수요일  1000    90
3   경기  월요일   200    10
4   경기  화요일   200    20
5   부산  월요일   100    30
6   서울  목요일    50    50
7   서울  금요일   100    90
8   부산  화요일   200    20
9   경기  수요일   100    80
10  경기  목요일    50    50
11  경기  금요일   100    10

In [5]:
df.set_index('지역')

     요일   강수량  강수확률
지역
서울  월요일   100    80
서울  화요일    80    70
서울  수요일  1000    90
경기  월요일   200    10
경기  화요일   200    20
부산  월요일   100    30
서울  목요일    50    50
서울  금요일   100    90
부산  화요일   200    20
경기  수요일   100    80
경기  목요일    50    50
경기  금요일   100    10

In [6]:
df.head()

   지역   요일   강수량  강수확률
0  서울  월요일   100    80
1  서울  화요일    80    70
2  서울  수요일  1000    90
3  경기  월요일   200    10
4  경기  화요일   200    20

In [10]:
df.set_index(['지역','요일']).unstack(0).stack(0)

C:\Users\human\AppData\Local\Temp\ipykernel_1344\1717769930.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.set_index(['지역','요일']).unstack(0).stack(0)

지역           경기     부산      서울
요일
금요일 강수량   100.0    NaN   100.0
    강수확률   10.0    NaN    90.0
목요일 강수량    50.0    NaN    50.0
    강수확률   50.0    NaN    50.0
수요일 강수량   100.0    NaN  1000.0
    강수확률   80.0    NaN    90.0
월요일 강수량   200.0  100.0   100.0
    강수확률   10.0   30.0    80.0
화요일 강수량   200.0  200.0    80.0
    강수확률   20.0   20.0    70.0

In [9]:
df.set_index(['지역','요일']).unstack

<bound method DataFrame.unstack of          강수량  강수확률
지역 요일
서울 월요일   100    80
   화요일    80    70
   수요일  1000    90
경기 월요일   200    10
   화요일   200    20
부산 월요일   100    30
서울 목요일    50    50
   금요일   100    90
부산 화요일   200    20
경기 수요일   100    80
   목요일    50    50
   금요일   100    10>

In [11]:
df

    지역   요일   강수량  강수확률
0   서울  월요일   100    80
1   서울  화요일    80    70
2   서울  수요일  1000    90
3   경기  월요일   200    10
4   경기  화요일   200    20
5   부산  월요일   100    30
6   서울  목요일    50    50
7   서울  금요일   100    90
8   부산  화요일   200    20
9   경기  수요일   100    80
10  경기  목요일    50    50
11  경기  금요일   100    10

In [13]:
df.set_index(['지역','요일']).unstack(0)

       강수량                 강수확률
지역      경기     부산      서울    경기    부산    서울
요일
금요일  100.0    NaN   100.0  10.0   NaN  90.0
목요일   50.0    NaN    50.0  50.0   NaN  50.0
수요일  100.0    NaN  1000.0  80.0   NaN  90.0
월요일  200.0  100.0   100.0  10.0  30.0  80.0
화요일  200.0  200.0    80.0  20.0  20.0  70.0

In [14]:
df.head()

   지역   요일   강수량  강수확률
0  서울  월요일   100    80
1  서울  화요일    80    70
2  서울  수요일  1000    90
3  경기  월요일   200    10
4  경기  화요일   200    20

In [18]:
df.set_index(['지역'])#.unstack()

     요일   강수량  강수확률
지역
서울  월요일   100    80
서울  화요일    80    70
서울  수요일  1000    90
경기  월요일   200    10
경기  화요일   200    20
부산  월요일   100    30
서울  목요일    50    50
서울  금요일   100    90
부산  화요일   200    20
경기  수요일   100    80
경기  목요일    50    50
경기  금요일   100    10

In [20]:
df.set_index(['지역','요일']).unstack()

      강수량                              강수확률
요일    금요일   목요일     수요일    월요일    화요일   금요일   목요일   수요일   월요일   화요일
지역
경기  100.0  50.0   100.0  200.0  200.0  10.0  50.0  80.0  10.0  20.0
부산    NaN   NaN     NaN  100.0  200.0   NaN   NaN   NaN  30.0  20.0
서울  100.0  50.0  1000.0  100.0   80.0  90.0  50.0  90.0  80.0  70.0

In [23]:
tmp=pd.concat([df,df,df])

In [30]:
tmp.groupby(['지역','요일']).mean(numeric_only=True).unstack(0).stack(0).reset_index()

C:\Users\human\AppData\Local\Temp\ipykernel_1344\2117782614.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  tmp.groupby(['지역','요일']).mean(numeric_only=True).unstack(0).stack(0).reset_index()

지역   요일 level_1     경기     부산      서울
0   금요일     강수량  100.0    NaN   100.0
1   금요일    강수확률   10.0    NaN    90.0
2   목요일     강수량   50.0    NaN    50.0
3   목요일    강수확률   50.0    NaN    50.0
4   수요일     강수량  100.0    NaN  1000.0
5   수요일    강수확률   80.0    NaN    90.0
6   월요일     강수량  200.0  100.0   100.0
7   월요일    강수확률   10.0   30.0    80.0
8   화요일     강수량  200.0  200.0    80.0
9   화요일    강수확률   20.0   20.0    70.0

In [25]:
tmp.set_index(['지역','요일']).unstack(0) # 중복된 행 있어서 unstack이 안됨

ValueError: Index contains duplicate entries, cannot reshape